.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color: #263343;
  padding: 4px 12px;
  height : 4%;
}

.navbar_logo a {
  font-size: 30px;
}

.navbar_menu {
  display:flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li::before,
.navbar_menu li::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
  color: white;
}

.navbar_menu li::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.navbar_menu li::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.navbar_menu li:hover::before,
.navbar_menu li:hover::after,
.navbar_menu li:focus::before,
.navbar_menu li:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


.navbar_icons {
  list-style: none;
  display:flex;
  padding-left: 0;
}

.navbar_toggleBtn {
  position:absolute;
  right:32px;
  font-size:24px;
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  padding: 8px 12px;
}

i {
  font-size: 25px;
}

.logout {
  color: #fff;
}

.logout:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction:column;
    align-items:flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display:none;
    flex-direction:column;
    align-items:center;
    width:100%;
  }

  .navbar_icons {
    display:none;
    justify-content: center;
    width:100%;
  }

  .navbar_toggleBtn {
    display: block;
  }
}