.footerContainer {
  width: 100%;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

/* .footerContainer:hover {
  cursor: pointer;
} */

.footerRow {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerCol {
  color : black;
  padding: 1rem 8rem 3rem 8rem;
  box-sizing : border-box;
  text-align: left;
}

.content {
  color: black;
  font-style: noraml;
  font-size: 0.8em;
}